In [4]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({
    'year': ['2018', '2019'],
    'col1_2018': [1, 2],
    'col1_2019': [3, 4],
    'col2_2018': [5, 6],
    'col2_2019': [7, 8]
})

# define a function to extract the relevant column data based on the year
def get_year_data(row):
    year = row['year']
    if year == '2019':
        return row['col1_2019'], row['col2_2019']
    elif year == '2018':
        return row['col1_2018'], row['col2_2018']
    else:
        return 'unknown', 'unknown'

# create a new column 'year_data' based on 'year'
df[['col1', 'col2']] = df.apply(get_year_data, axis=1, result_type='expand')

print(df)

   year  col1_2018  col1_2019  col2_2018  col2_2019  col1  col2
0  2018          1          3          5          7     1     5
1  2019          2          4          6          8     4     8

In [10]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({
    'year': ['2018', '2019'],
    'col1_2018': [1, 2],
    'col1_2019': [3, 4]
})

# define a function to extract the relevant column data based on the year
def get_year_data(row, cola):
    year = row['year']
    if year == '2019':
        return row[cola+'2019']
    elif year == '2018':
        return row[cola+'2018']
    else:
        return 'unknown', 'unknown'

# create a new column 'year_data' based on 'year'
df[['col1']] = df.apply(get_year_data(df, 'col1_'), axis=1, result_type='expand')

print(df)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [14]:
import pandas as pd

def get_year_data(row, cola):
    year = row['year']
    if year == '2019':
        return row[cola+'2019']
    elif year == '2018':
        return row[cola+'2018']
    else:
        return 'unknown', 'unknown'
# Define a function that creates a new column
def add_column(df, col_name):
    df[col_name] = df['A'] + df['B']
    return df


# Create a DataFrame
df = pd.DataFrame({
    'year': ['2018', '2019'],
    'col1_2018': [1, 2],
    'col1_2019': [3, 4]
})

display(df)

df2 = pd.melt(df, id_vars=['year'], value_vars=['col1_2018', 'col1_2019'], value_name='result')
display(df2)

   year  col1_2018  col1_2019
0  2018          1          3
1  2019          2          4

   year   variable  result
0  2018  col1_2018       1
1  2019  col1_2018       2
2  2018  col1_2019       3
3  2019  col1_2019       4

In [11]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                   'Year_1_Grade': [90, 80, 85],
                   'Year_2_Grade': [92, 88, 90],
                   'Year_3_Grade': [87, 89, 91],
                   'Graduated': [True, False, True]})

# Use melt() to merge the year columns into one column based on the 'Graduated' column
df = pd.melt(df, id_vars=['Name', 'Graduated'], value_vars=['Year_1_Grade', 'Year_2_Grade', 'Year_3_Grade'],
             var_name='Year', value_name='Grade')

# Replace the 'Year_1_Grade', 'Year_2_Grade', 'Year_3_Grade' columns with the merged 'Year' and 'Grade' columns
df = df[['Name', 'Graduated', 'Year', 'Grade']]

print(df)

      Name  Graduated          Year  Grade
0    Alice       True  Year_1_Grade     90
1      Bob      False  Year_1_Grade     80
2  Charlie       True  Year_1_Grade     85
3    Alice       True  Year_2_Grade     92
4      Bob      False  Year_2_Grade     88
5  Charlie       True  Year_2_Grade     90
6    Alice       True  Year_3_Grade     87
7      Bob      False  Year_3_Grade     89
8  Charlie       True  Year_3_Grade     91

In [16]:
import pandas as pd

# Define the column names as variables
col_2018_name = 'col_2018'
col_2019_name = 'col_2019'

# Create a DataFrame
df = pd.DataFrame({'year': [2018, 2019, 2018],
                   col_2018_name: ['a', 'b', 'c'],
                   col_2019_name: ['d', 'e', 'f']})

display(df)

# Define a function to map the year values to column names
def map_columns(x):
    if x == 2018:
        return col_2018_name
    elif x == 2019:
        return col_2019_name


# Create a new column 'result' using the 'map_columns' function and the column name variables
df['result'] = df.apply(lambda row: row[map_columns(row['year'])], axis=1)

print(df)

   year col_2018 col_2019
0  2018        a        d
1  2019        b        e
2  2018        c        f

   year col_2018 col_2019 result
0  2018        a        d      a
1  2019        b        e      e
2  2018        c        f      c

In [17]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'year': [2018, 2019, 2018],
                   'year_2018': ['a', 'b', 'c'],
                   'year_2019': ['d', 'e', 'f']})

# Create a new empty column 'result'
df['result'] = ''

# Iterate over the DataFrame row by row
for index, row in df.iterrows():
    if row['year'] == 2018:
        df.at[index, 'result'] = row['year_2018']
    elif row['year'] == 2019:
        df.at[index, 'result'] = row['year_2019']

print(df)

   year year_2018 year_2019 result
0  2018         a         d      a
1  2019         b         e      e
2  2018         c         f      c

In [18]:
import pandas as pd

# Define a function to create a result column based on year columns and a suffix
def create_result_column(df, category, year_2018_col, year_2019_col, result_suffix):
    result_col = f"{category}_result_{result_suffix}"
    df[result_col] = ''
    for index, row in df.iterrows():
        if row[f"year_{category}_"] == 2018:
            df.at[index, result_col] = row[year_2018_col]
        elif row[f"year_{category}_"] == 2019:
            df.at[index, result_col] = row[year_2019_col]
    return df

# Create a DataFrame
df = pd.DataFrame({'year_a_': [2018, 2019, 2018],
                   'year_a_2018': ['a', 'b', 'c'],
                   'year_a_2019': ['d', 'e', 'f'],
                   'year_b_': [2019, 2018, 2019],
                   'year_b_2018': ['g', 'h', 'i'],
                   'year_b_2019': ['j', 'k', 'l']})

# Create the result columns for each category
df = create_result_column(df, 'a', 'year_a_2018', 'year_a_2019', 'suffix')
df = create_result_column(df, 'b', 'year_b_2018', 'year_b_2019', 'suffix')

print(df)

   year_a_ year_a_2018 year_a_2019  year_b_ year_b_2018 year_b_2019  \
0     2018           a           d     2019           g           j
1     2019           b           e     2018           h           k
2     2018           c           f     2019           i           l

  a_result_suffix b_result_suffix
0               a               j
1               e               h
2               c               l

# Promising option

In [25]:
# Create a DataFrame
df = pd.DataFrame({'year': [2018, 2019, 2018],
                   'year_a_2018': ['a', 'b', 'c'],
                   'year_a_2019': ['d', 'e', 'f'],
                   'year_b_2018': ['g', 'h', 'i'],
                   'year_b_2019': ['j', 'k', 'l']})


def create_result_column(df, category, year_col, year_2018_col, year_2019_col):
    result_col = f"{category}_result"
    df[result_col] = ''
    for index, row in df.iterrows():
        if row[year_col] == 2018:
            df.at[index, result_col] = row[year_2018_col]
        elif row[year_col] == 2019:
            df.at[index, result_col] = row[year_2019_col]
    df = df.drop([year_2018_col, year_2019_col], axis=1)
    return df

# Create the result columns for each category
df = create_result_column(df, 'a', 'year', 'year_a_2018', 'year_a_2019')
df = create_result_column(df, 'b', 'year', 'year_b_2018', 'year_b_2019')

print(df)

   year a_result b_result
0  2018        a        g
1  2019        e        k
2  2018        c        i

In [22]:
a = 2018

print(a)

SyntaxError: invalid syntax (Temp/ipykernel_12224/140464654.py, line 1)